body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 20px;
    background-color:white; 
    gap: 30px;
    
}

.container {
    background-color: white;
    width: 80%;
    padding: 20px;
    
    
    
}

h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    line-height: 1.8;
}

.highlight {
    color: #17175f; /* Deep blue color for 'Creative' */
}

.content {
    display: flex;
    justify-content: space-between;
       
    
}

.section {
    display: flex;
    align-items: center;
    gap: 10px;
    width:150px;
    max-width: 350px;
    justify-content:center
    
}
.section:nth-child(even){
    flex-direction:row;
}

.section img {  
    width:50%;

    
    
}

.text {
    margin-top: 5px;
    width: 100px;
    text-align: left;

}

h2 {
    font-size: 20px;
    font-weight: 600;
line-height: 0%;
}

p {
    font-size: 8px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    
    font-family: 'poppins', sans-serif;   
}


    
